<p id="notice"><%= notice %></p>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            
            <%= cl_video_tag(File.basename(URI.parse(@entry.reel.to_s).path), :width=>550,:loop => true, :autoplay => true, :poster => false,
                    :fallback_content => "Your browser does not support HTML5 video tags") %>
            
            <h2><%= @entry.title %>
            <% if (current_user == @entry.user) %>
               <%= link_to 'Delete ', @entry, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger btn-sm pull-right btn3d" %>
                <%= link_to 'Edit', edit_entry_path(@entry), class:"btn btn-success btn-sm pull-right btn3d" %>  
             <% end %>
        
            
            </h2>
             <p><strong>Description:</strong> <%= @entry.description %></p>
            <p><strong>Tags:</strong> 
                <% @entry.tag_list.each do |tag|%>
                    <span class="badge"><%= tag %></span>
                <% end %>
            </p>
            
            <div class="row"> 
               <div class="col-md-6">
                by <%= link_to @entry.user.username, @entry.user%> 
               </div>   
               <div class="col-md-6" style="text-align:right">
                <% if user_signed_in? && (current_user.voted_for? @entry) %>
                <%= link_to unlike_entry_path(@entry), method: :put do %>
                            <i class='fa fa-heart'></i>
                         <% end %>
                     <% else %>
                        <%= link_to like_entry_path(@entry), method: :put do %>
                            <i class='fa fa-heart-o'></i>
                        <% end %>
                    <% end %>
                    <%= @entry.votes_for.size%> like(s)
               </div>   
            </div>
            
            
            <%= render 'disqus' %>
            <div class="text-center">
                <% if Entry.exists?(@entry.id + 1)%>
                   <a href="/entries/<%= @entry.id + 1%>" class="btn btn-primary pull-right btn3d">Next Video<i class="fa fa-arrow-right"></i></a>
                <% end %>
                <% if Entry.exists?(@entry.id - 1)%>
                    <a href="/entries/<%= @entry.id - 1%>" class="btn btn-primary pull-left btn3d"><i class="fa fa-arrow-left"></i> Previous</a>
                <% end %>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<br>
<br>


