<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @entry.user %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @entry.tag %>
</p>

<p>
  <strong>Reel:</strong>
  <%= cl_video_tag( File.basename(URI.parse(@entry.reel.to_s).path), :width=>600, :height=>400, :crop=>"scale",:loop => true, :autoplay => true, :poster => false,
                    :fallback_content => "Your browser does not support HTML5 video tags") %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
