


<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <%= image_tag current_user.gravatar_url, class:"" %>
            <h1><%= @user.username %></h1>
            <p><%= render 'shared/stats' %></p>
            <% if current_user.id != @user.id %>
              <div id="follow_form">
              <% if current_user.following?(@user) %>
                <%= render 'unfollow' %>
              <% else %>
                <%= render 'follow' %>
              <% end %>
              </div>
            <% end %>
        </div>
        <div class="col-md-5">
            <% if @entries.empty? %>
                <div class="dull">
                    <h2>No posts available</h2>
                </div>
            <% end %>
        <% @entries.each do |entry| %>
            <div class="rows">
                <div class="card" style="padding:40px">
                    <%= link_to (image_tag entry.reel.to_s.gsub('.mp4', '.jpg'), class:"card-image", width:"100%"), entry%>
                     <h2><%= entry.title %></h2>   
                    <h4><%= image_tag entry.user.gravatar_url,  height:"30" %>  <%= link_to entry.user.username, entry.user %></h4>
                        <p><strong>Tags:</strong> <%= entry.tag %></p>
                </div>
            </div>
        <% end %>
        
        
        </div>
    </div>
</div>
