
	<div class="header">
		<div class="header-inner">
			<div class="header-top">
				<div class="container">
					

					<div class="nav-primary-wrapper collapse navbar-toggleable-sm">
						<ul class="nav nav-pills ">
                            <li><a href="/">
						<img src="http://res.cloudinary.com/dbgxmocga/image/upload/v1463944131/notebrush_w0svxy.png" width="100px">
					</a></li>
							<li class="nav-item has-submenu">
								<a href="/" class="nav-link ">Home</a>
							</li>

							<li class="nav-item has-submenu">
								<a href="/entries" class="nav-link ">Browse</a>
							</li>

							<li class="nav-item has-submenu">
								<a href="#" class="nav-link ">About Us</a>
							</li>
                            <% if user_signed_in? %>
                                <li class="nav-item has-submenu">
                                    <%= link_to 'Add a video', new_entry_path, class:"nav-link" %>
                                </li>
                            <% end%>
                           

						</ul><!-- /.nav -->
					</div><!-- /.nav-primary-wrapper -->

					<ul class="nav nav-pills secondary">
						<li class="nav-item user-avatar-wrapper">
                            <% if user_signed_in? %>
                                <%= image_tag current_user.gravatar_url, class:"nav-link circle user-avatar-image"%>
                                <span class="user-avatar-status"></span>
                            <% else%>
                                 <%= image_tag "http://vignette2.wikia.nocookie.net/recipes/images/1/1c/Avatar.svg/revision/latest?cb=20110302033947", class:"nav-link circle user-avatar-image"%>
                            <% end%>
							
							<ul class="header-more-menu">
								<% if user_signed_in? %>
                                  <li><a href="/users/<%= current_user.id %>">View my profile</a></li>
                                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                                <% else %>
                                  <li><%= link_to "Login", new_user_session_path %></li>
                                  <li><%= link_to "Sign Up", new_user_registration_path %></li>
                                <% end%>
							</ul>							
						</li>
					</ul>

					<button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target=".nav-primary-wrapper">
                        <i class="md-icon">menu</i>
                    </button>						
				</div><!-- /.container -->
			</div><!-- /.header-top -->

			
				
		</div><!-- /.header-inner -->
	</div><!-- /.header -->



</div>